<div [class]="properties.type.toLowerCase()">
  <section
    *ngIf="properties.showVeil"
    class="veil">
  </section>
  <section
    class="modal"
    [ngClass]="{'disableScroll' : properties.disableScroll }">
    <header>this is the header</header>
    <main>
      <ng-template #contentContainer></ng-template>
    </main>
    <footer>this is the footer</footer>
  </section>
</div>

<!-- <div
  [class]="modal.properties.type.toLowerCase()">
  <section
    class="veil"
    (click)="modal.properties.veilClick(modal)">
  </section>
  <section
    class="content">
    <header>
      <h1>{{ modal.properties.title }}</h1>
    </header>
    <main>
      <ng-content></ng-content>
    </main>
    <footer></footer>
  </section>
</div> -->
