@import '../../../variables.scss';

// general styling for all modals
div {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  section.veil {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
  }

  section.modal {
    &.disableScroll {
      overflow-y: hidden;
    }

    header {}
    main {}
    footer {}
  }
}

// type specific styling
div.right-shelf {

  section.veil {
    width: 60%
  }

  section {
    header {}
    main {
      display: flex;
      height: 100%;
    }
    footer {}
  }
}
