<header [ngClass]="{'logged-in': loggedIn}">
  <aside class="brand-section">
    <span>
      <i class="fa fa-arrow-up fa-2x"></i>
    </span>
    <span>
      <span class="brand-logo">{{ title }}</span>
    </span>
  </aside>
  <section>
  </section>
  <aside>
    <span
      [class]="loggedIn ? 'login' : 'logout'">
    </span>
    <span
      (click)="loginPopup()">
      <i
        class="menu fa fa-bars fa-2x"
        [ngClass]="{ 'right-shelf-visible' : detectRightShelf() }">
      </i>
    </span>
  </aside>
</header>
